.Container_ShowVideoGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.video_box_app {
  width: 21rem;
  height: 17rem;
  margin-bottom: 1rem;
  border: 2px solid transparent;
}

.Container_ShowVideoGrid.white {
  background-color: rgb(250, 250, 250);
}
