.video_screens_container {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.title {
  position: absolute;
  margin: 20px;
  color: white;
}

.video1-container,
.video2-container {
  margin: 0px 15px;
  border-radius: 20px;
}
