.comments_sub_form_comments {
  display: flex;
  width: 70%;
}

.comment_ibox {
  width: 80%;
  padding: 0.5%;
  padding-left: 2%;
  background-color: transparent;
  border: 0;
  color: white;
  border-bottom: 2px solid grey;
}

.comment_ibox:focus {
  outline: none;
}

.comments_add_btn_comments {
  cursor: pointer;
  border: 2px solid transparent;
  border-bottom: 2px solid rgb(64, 64, 64);
  background-color: transparent;
  color: aliceblue;
  font-size: large;
  width: 20%;
}

.comments_add_btn_comments:hover {
  border: 2px solid rgba(64, 64, 64, 0.05);
  border-bottom: 2px solid rgb(64, 64, 64);
  background-color: rgba(240, 248, 255, 0.05);
}

/** DISPLAY COMMENTS**/

.comment_bdody {
  color: rgb(197, 197, 197);
  margin: 0;
  margin-top: 0.5rem;
}

.usercommented {
  color: rgb(50, 50, 50);
}

.EditDel_DisplayComment,
i {
  padding: 0.2rem;
  margin: 0;
  margin-bottom: 0.8rem;
  color: rgba(44, 85, 209, 0.696);
  cursor: pointer;
}
