/* Default (dark mode) styles */
.navigation_Home {
  color: white;
  background-color: rgb(37, 37, 37);
  position: sticky;
  display: flex;
  overflow-x: auto;
  top: 0;
  border-bottom: 2px solid rgba(128, 128, 128, 0.27);
}

.btn_nav_home {
  background-color: rgb(46, 46, 46);
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 45px;
  cursor: pointer;
}

.btn_nav_home:hover {
  background-color: rgb(128, 128, 128);
}

/* White theme styles */
.navigation_Home.white {
  color: white;
  background-color: rgb(250, 250, 250) !important;
  border-bottom: 2px solid rgba(192, 192, 192, 0.5);
}

.btn_nav_home.white {
  background-color: rgb(240, 240, 240);
  color: black;
}

.btn_nav_home:hover.white {
  background-color: rgb(192, 192, 192);
}
